body{
    display: block;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}
.nav_bar{ 
    background-color: brown;
    color: aliceblue !important;
    padding-top: 10px !important;
    padding: 35px;
    text-align: center;
    margin: 0;
    }
h1{
    letter-spacing: 10px;
}
.sub_title{
    font-size: 35px;
}
img
{
    border-bottom-right-radius: 25%;
    border-top-left-radius: 25%;
    float: right;
    box-shadow: 2px 5px 2px 1px rgba(8, 8, 8, 0.2);
}
address{
    background-color: bisque;
    max-width: 45%;
    padding: 5px;
    line-height: 25px;
}
abbr{
    text-decoration: none;
}
a{
    color: black;
    font-weight: bold;
}
a:hover{ /*Pseudo-classe*/
    color: brown;
    transition: 400ms;
    font-size: 20px;
}
.button{
    color: white;
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-radius: 15%;
    border-color: #8f1d1d;
    font-weight: bolder;
    text-decoration: none;
    
}
li ul{
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 25px;
    list-style-type: circle;
}
.sub_title{
    color: brown;
    letter-spacing: 10px;
    font-weight: 90;
}
/* SELETORES AVANÇADOS */
/*Strong descendente do adress recebe cor verde*/
/* Seletor de descendente: espaço */
/*Mas se for filho: >*/

address > strong{
    /*Strong descendente do adress recebe cor verde
    Strong é filho do Adress*/
    background-color: rgb(81, 255, 0);
}

p > strong{
    background-color: rgb(255, 196, 0);
}
/* A filho do adress */
address > a {
    background-color: violet;
}
